POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USER=mongo
MONGO_PASSWORD=mongo
CATALOG_DB=catalogdb
CART_DB=cartdb
ORDER_DB=orderdb
WAREHOUSE_DB=warehousedb
PAYMENT_DB=paymentdb
SHIPPING_DB=shippingdb
USER_DB=userdb
CART_READ_DB=cartread
ORDER_READ_DB=orderread
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
ASPNETCORE_ENVIRONMENT=Development
