ASPNETCORE_ENVIRONMENT=Development
FRONTEND_URL=http://localhost:3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ConnectionStrings__CatalogDb=Host=postgres;Port=5432;Database=catalog_db;Username=postgres;Password=postgres
ConnectionStrings__CartDb=Host=postgres;Port=5432;Database=cart_db;Username=postgres;Password=postgres
ConnectionStrings__OrderDb=Host=postgres;Port=5432;Database=order_db;Username=postgres;Password=postgres
ConnectionStrings__PaymentDb=Host=postgres;Port=5432;Database=payment_db;Username=postgres;Password=postgres
ConnectionStrings__ShippingDb=Host=postgres;Port=5432;Database=shipping_db;Username=postgres;Password=postgres
ConnectionStrings__WarehouseDb=Host=postgres;Port=5432;Database=warehouse_db;Username=postgres;Password=postgres

MessageBus__Host=rabbitmq
MessageBus__Port=5672
MessageBus__Username=app
MessageBus__Password=app

OTEL_EXPORTER_OTLP_ENDPOINT=http://aspire-dashboard:18889
OTEL_EXPORTER_OTLP_PROTOCOL=grpc

PAYMENT_HOSTED_GATEWAY_BASE_URL=http://localhost:8080/api/payment
PAYMENT_STRIPE_CARD_REDIRECT_URL_TEMPLATE=
PAYMENT_PAYPAL_REDIRECT_URL_TEMPLATE=
PAYMENT_SATISPAY_REDIRECT_URL_TEMPLATE=

PUBLIC_GATEWAY_URL=http://localhost:8080
HOST=0.0.0.0
CHOKIDAR_USEPOLLING=true
CHOKIDAR_INTERVAL=250
